*{
	box-sizing: border-box;
}
		.c0 {
			line-height: 2.0;
			direction: ltr;
			margin-left: 36pt
		}
		.c1 {
			line-height: 2.0;
			text-indent: 36pt;
			direction: ltr
		}
		.c7 {
			line-height: 2.0;
			direction: ltr
		}
		.c9 {
			padding-top: 0pt;
			text-align: left
		}
		.c12 {
			widows: 2;
			orphans: 2
		}
		.c8 {
			height: 11pt
		}
		.c17 {
			padding-top: 0pt
		}
		.c3 {
			font-wight: bold
		}
		.c11 {
			text-align: right
		}
		.c5 {
			font-style: italic
		}
		.c6 {
			background-color: #ffffff
		}
		.c13 {
			background-color: #fafafa
		}
		.c14 {
			text-indent: 36pt
		}
		.c15 {
			text-align: left
		}
		li {
			color: #000000;
			font-size: 11pt;
			font-family: "Arial"
		}
		p {
			color: #000000;
			font-size: 11pt;
			margin: 0;
			font-family: "Arial"
		}
		p {
			font-family: "adobe-caslon-pro", serif;
			font-weight: 400;
			font-size: 1.2em;
			margin-left: auto;
			margin-right: auto;
			line-height:2em;
		}
		section>*{
			max-width: 700px;
			margin-left: auto;
			margin-right: auto;
			padding-left: 2em;
			padding-right: 2em;
		}
		section{
			padding-top:6em;
			padding-bottom:6em;
		}
		h1 {
			line-height: 2.0;
			text-align: center;
			direction: ltr;
			font-family: "adobe-caslon-pro", serif;
			font-weight: 400;
			font-size: 2em;
		}
		blockquote h2 {
			font-family: "adobe-caslon-pro", serif;
			margin-top:0;
			margin-bottom:0;
			font-size: 1.2em;
			font-weight:bold;
		}
		blockquote {
			font-family: "adobe-caslon-pro", serif;
			font-weight: 400;
			font-size: 1em;
			font-style:italic;
			direction: ltr;
			margin-left:auto;
			margin-right:auto;
			padding-left:5em;
		}
aside{
	box-sizing: border-box;
	font-family:"ltc-bodoni-175", serif;
	font-weight: 400;
	font-size:3em;
	max-width:2000px;
	padding-top:1em;
	padding-bottom:1em;
}
body.js section{
	display:none;
}
body.js section.active{
	display:block;
}
ul{
	display:flex;
	justify-content:center;
	justify-content:space-around;
	padding:3em;
}
li{
	display:inline-block;
	font-family: "adobe-caslon-pro", serif;
	font-weight: 400;
	font-size: 1.2em;
}
nav{
	dislay:flex;
	font-family: "adobe-caslon-pro", serif;
	font-weight: 400;
	font-size: 1.2em;
}
.post-nav{
	display:inline-block;
	width:50%;
	padding: 3em 3em 1em;
}
.next-post{
	text-align:right;
}
.prev-post{
	text-align:left;
}