*{
	box-sizing: border-box;
}
		.c0 {
			line-height: 2.0;
			direction: ltr;
			margin-left: 36pt
		}
		.c1 {
			line-height: 2.0;
			text-indent: 36pt;
			direction: ltr
		}
		.c9 {
			padding-top: 0pt;
			text-align: left
		}
		.c12 {
			widows: 2;
			orphans: 2
		}
		.c8 {
			height: 11pt
		}
		.c17 {
			padding-top: 0pt
		}
		.c3 {
			font-wight: bold
		}
		.c11 {
			text-align: right
		}
		.c5 {
			font-style: italic
		}
		.c6 {
			background-color: #ffffff
		}
		.c13 {
			background-color: #fafafa
		}
		.c14 {
			text-indent: 36pt
		}
		.c15 {
			text-align: left
		}
		li {
			color: #000000;
			font-size: 11pt;
			font-family: "Arial"
		}
		p {
			font-family: "adobe-caslon-pro", serif;
			font-weight: 400;
			font-size: 1.2em;
			margin-left: auto;
			margin-right: auto;
			line-height:2em;
		}
		section>*{
			max-width: 700px;
			margin-left: auto;
			margin-right: auto;
			padding-left: 2em;
			padding-right: 2em;
		}
		h1 {
			line-height: 2.0;
			text-align: center;
			direction: ltr;
			font-family:"ltc-bodoni-175", serif;
			font-weight: 400;
			font-size: 6rem;
			background-image:url('../Images/DH000015%20copy.jpg');
			background-size:cover;
			background-position:center;
			padding:200 200;
			max-width:none;
			margin-bottom:7rem;
			text-shadow:white 0 -2px 90px;
			margin-top:0;
		}
		blockquote h2 {
			font-family: "adobe-caslon-pro", serif;
			margin-top:0;
			margin-bottom:0;
			font-size: 1.2em;
			font-weight:bold;
		}
		blockquote {
			font-family: "adobe-caslon-pro", serif;
			font-weight: 400;
			font-size: 1em;
			font-style:italic;
			direction: ltr;
			margin-left:auto;
			margin-right:auto;
			padding-left:5em;
		}
aside{
	box-sizing: border-box;
	font-family:"ltc-bodoni-175", serif;
	font-weight: 400;
	font-size:2em;
	font-style:italic;
	max-width:2000px;
	padding-top:1em;
	padding-bottom:1em;
	line-height:2em;
	max-width:900px;
}
body.js section{
	display: none;
}
section{
	overflow:hidden;
	padding-top:7rem;
}
body.js section.active{
	display: block;

}
ul{
	display:flex;
	justify-content:center;
	justify-content:space-around;
	padding:1rem;
	position:fixed;
	width:100%;
	margin:0;
	background: rgba(255,255,255,0.9);
li{
	display:inline-block;
	font-family: "adobe-caslon-pro", serif;
	font-weight: 400;
	font-size: 1.2em;
}
nav{
	dislay:flex;
	font-family: "adobe-caslon-pro", serif;
	font-weight: 400;
	font-size: 1.2em;
}
.post-nav{
	display:inline-block;
	width:50%;
	padding: 3em 3em 1em;
	font-family:"ltc-bodoni-175", serif;
}
.post-nav:not([href]){
	opacity:0;
}
.next-post{
	text-align:right;
}
.prev-post{
	text-align:left;
}
.quotes {
	margin-top:2rem;
}
.startquote {
	margin-top:3rem;
}

.epigraph {
	font-family:"ltc-bodoni-175", serif;
	font-weight: 400;
	font-size:2rem;
	max-width:900px;
	line-height:2;
}

.attribution {
	font-family:"ltc-bodoni-175", serif;
	font-weight:300;
	font-size:1rem;
	text-align:right;
}

.nopadding {
	padding-top:0;
}

section {
	
}
